extends ../layout.pug

block content
  h1(class="mt-4") Rooms
  ol(class="breadcrumb mb-4")
    li(class="breadcrumb-item active") List rooms

  div(class="row")
    div(class="col-md-12")
      a(class="btn btn-primary" href="/rooms/new")
        i(class="fas fa-plus")
        | &nbsp; Add a Room

  div.row.mt-2
    div.col-md-12
      div(class="card mb-4")
        div.card-body
          if rooms.length > 0
            table.table.table-striped
              thead.thead-dark
                tr
                  th
                  th Name
                  th Capacity
                  th Action
              tfoot.tfoot-dark
                tr
                  th
                  th Name
                  th Capacity
                  th Action
              tbody
                each room in rooms
                  tr
                    td
                      img(src="https://assets.aten.com/webpage/shared/Aten_BE/ISE2020/Meetingroom_Types_Medium.jpg" alt="meeting-rooms" class="img-thumbnail" style="max-width: 200px")
                    td.align-middle= room.name
                    td.align-middle= room.capacity
                    td.align-middle
                      a.btn.btn-primary.mx-2(href='/rooms/'+room.id) Detail
                      a.btn.btn-warning.mx-2(href='/rooms/edit/'+room.id) Edit
          else
            | No rooms available yet.
