extends ../layout.pug

block content
  h1(class="mt-4") Schedules
  ol(class="breadcrumb mb-4")
    li(class="breadcrumb-item active") List Upcoming Schedules

  div(class="row")
    div(class="col-md-12")
      a(class="btn btn-primary mx-2" href="/schedules")
        i(class="fas fa-arrow-left")
        | &nbsp; Back

  div.row.mt-2
    div.col-md-12
      div(class="card mb-4")
        div.card-body
          if schedules.length > 0
            table.table.table-striped
              thead.thead-dark
                tr
                  th
                  th Room Name
                  th Booked by
                  th From
                  th To
              tfoot.tfoot-dark
                tr
                  th
                  th Room Name
                  th Booked by
                  th From
                  th To
              tbody
                each schedule in schedules
                  tr
                    td
                      img(src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="meeting-rooms" class="img-thumbnail" style="max-width: 100px")
                    td.align-middle= schedule.Room.name
                    td.align-middle= schedule.User.fullname
                    td.align-middle= schedule.start_time.toLocaleString('en-US', {weekday: 'short',day: 'numeric',year: 'numeric',month: 'short',hour: 'numeric',minute: 'numeric',})
                    td.align-middle= schedule.end_time.toLocaleString('en-US', {weekday: 'short',day: 'numeric',year: 'numeric',month: 'short',hour: 'numeric',minute: 'numeric',})
          else
            | No schedule available yet.