extends ../layout.pug

block content
  h1(class="mt-4") Schedule
  ol(class="breadcrumb mb-4")
    li(class="breadcrumb-item active") Add a new schedule

  div.row.mt-2
    div.col-md-6.mx-auto
      div(class="card mb-4")
        div.card-body
          form(action="/schedules" method="POST")
            div(class="row mb-2")
              div.col-md-12.mb-2.text-center
                img(src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="meeting-rooms" class="img-thumbnail" style="max-width: 50%")

              div(class="col-md-12 mb-2")
                div(class="form-floating mb-3 mb-md-0")
                  select(class="form-select" name="room_id" id="selectRoom" aria-label="Select a room" required)
                    each room in rooms
                      option(value=room.id)= room.name
                    if rooms.length == 0
                      option No room available
                  label(for="selectRoom") Select Room

              div(class="col-md-12 mb-2")
                div(class="form-floating")
                  select(class="form-select" name="user_id" id="selectUser" aria-label="Select user" required)
                    each user in users
                      option(value=user.id)= user.fullname
                    if users.length == 0
                      option No user available
                  label(for="selectUser") Book by

              div(class="col-md-12 mb-2")
                div(class="form-floating mb-3 mb-md-0")
                  input(class="form-control" id="inputDescription" name="description" type="text" placeholder="Enter description for booking")
                  label(for="inputDescription") Description

              div(class="col-md-12 mb-2")
                div(class="form-floating mb-3 mb-md-0")
                  input(class="form-control time-picker" id="inputStartAt" name="start_at" type="text" placeholder="Book from")
                  label(for="inputStartAt") From

              div(class="col-md-12 mb-2")
                div(class="form-floating mb-3 mb-md-0")
                  input(class="form-control time-picker" id="inputEndAt" name="end_at" type="text" placeholder="Book to")
                  label(for="inputEndAt") To

            div(class="mt-4 mb-0")
              div.d-grid
                button(class="btn btn-primary btn-block") Create Schedule

block script
  script.
    $('.time-picker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
    });

